/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
  margin: 10;
  padding: 10;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}

table#items {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#itmes th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#items th, table#items td {
  padding: 4px;
  text-align: center;
}

.notice {
  font-size:18px;
  color: red;
  margin: 1em 0;
  padding: 4px;
}

.field_with_errors {
	color: red;
	font-weight: bold;
	font-size:18px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

#user_nav {
    float: right;
    font-size: 12px;
}